@use "../../scss/common" as *;
@use "../../scss/variables" as *;

.breadcrumbs {
  padding-top: 14px;
  padding-bottom: 15px;
  letter-spacing: 1px;

  @media (min-width: $xxl) {
    padding-top: 32px;
    padding-bottom: 12px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    @include font(12px, 1.25, 500);

    min-width: fit-content;
    margin-right: 8px;

    @media (min-width: $xxl) {
      @include font(20px, 1.2, 600);

      margin-right: 20px;
    }

    &--line {
      width: 100%;
      margin-right: 0;
    }

    svg {
      width: 5px;
      height: 10px;

      @media (min-width: $xxl) {
        width: 10px;
        height: 18px;
      }
    }
  }

  &__link {
    color: $white;
  }

  &__line {
    height: 2px;
    background-color: $grey;
    border-radius: 8px;
  }
}
