@use "variables" as *;

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $sm;
  padding: 0 15px;

  @media screen and (min-width: $xxl) {
    padding: 0 60px;
    max-width: $xxl;
  }
}
