@use "variables" as *;

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  background-color: $bckg-color;
  color: $white;
  min-width: $sm;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}
